# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
build/
.cache/
.next/
out/
coverage/
*.local
.env*
.DS_Store

# Bun
bun.lockb

# General
*.log
*.tsbuildinfo
*.swp
*.swo

# VSCode
.vscode/
*.code-workspace

# OS junk
Thumbs.db

# Extension build output
extension-dist/
dist/
src/.temp/

.uv/
uv.lockb
